<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">
    <title>Document</title>
</head>
<body>
    <%  if(result.length<0) { %>
        <h1>You havn't made any orders yet!</h1>
        <% } %>
    <% for(let i=0;i<result.length;i++) { %>
        <div class="container">
            <div class="card" style="border-left: 50px solid rgb(255 137 137); border-right: 50px solid rgb(255 137 137);" id=div<%= result[i].productid %> >
                
                        <div class="details" style="margin-left:5%;">

                            <h1><%= new Date(result[i].orderedDate ).toLocaleDateString()
                                %></h1>
                            <h3>TOTAL: <%= result[i].total %></h3>
                            <h3>ADDRESS: <%= result[i].delivery_address %></h3>
                       
                            
                        </div>
                <div class="btn">
             
                        <a  href="/viewBill?orderid=<%= result[i].orderid %>" id=v<%= result[i].orderid %> class="button" style="margin-top:8%; margin-left:4%;"> View Bill </a>
                    
                </div>
    
                
            </div>
    
        </div>
        <% } %>
</body>
</html>